<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
       
      <p class="secret-text"> Name:  <%= user.name %></p>
      <p class="secret-text"> Mobile number: <%= user.mobile %> </p>
      <p class="secret-text"> Email address:  <%= user.email %></p>
      <hr>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>